@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  /* font-weight: 400 !important; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2,
h1,
h3 {
  font-weight: 600 !important;
}

input,
button,
select {
  border-radius: 0 !important;
}

a {
  color: #f1f1f1 !important;
  text-decoration: none !important;
}

.peremium-btn {
  background-color: #367fa9 !important;
  border: 1px solid #367fa9 !important;
}

.peremium-btn:hover {
  background-color: #307096 !important;
}

.success-btn {
  background-color: #00a65a !important;
  border: 1px solid #008d4c !important;
}

.success-btn:hover {
  background-color: #059654 !important;
}

* {
  list-style: none;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* contracts companentasi uchun stillar */

.contracts a {
  color: #212529 !important;
  padding: 7px 15px;
  display: block;
}

.contracts .active {
  background-color: #00a65a;
  color: #f1f1f1 !important;
}